<h1 mat-dialog-title>Новый магазин</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      [(ngModel)]="data.name"
      matInput
      placeholder="Наименование"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      [(ngModel)]="data.address"
      matInput
      placeholder="Адрес"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      [(ngModel)]="data.operationMode"
      matInput
      placeholder="Режим работы"
    >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    (click)="onNoClick()"
    mat-button
  >Отмена</button>
  <button
    [mat-dialog-close]="data"
    mat-button
  >Добавить</button>
</div>
